In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

In [14]:
# Import Data

salaries = pd.read_csv('../data/ds_salaries_clean.csv')

# add Job category to the above dataframe

Job_Category = ['Machine Learning', 'Data Engineering', 'Data Analytics', 'Machine Learning', 'Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Science', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Engineering', 'Data Analytics', 'Machine Learning', 'Data Engineering', 'Data Science', 'Other', 'Data Analytics', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Data Engineering', 'Data Science', 'Machine Learning', 'Data Science', 'Managerial', 'Data Science', 'Data Science', 'Data Science', 'Data Analytics', 'Managerial', 'Other', 'Data Analytics', 'Data Engineering', 'Data Science', 'Machine Learning', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Other', 'Data Analytics', 'Data Engineering', 'Machine Learning', 'Data Analytics', 'Other', 'Other', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Other', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Data Science', 'Other', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Analytics', 'Data Science', 'Machine Learning', 'Data Science', 'Data Science', 'Data Science', 'Machine Learning', 'Machine Learning', 'Data Science', 'Data Science', 'Data Engineering', 'Data Science', 'Machine Learning', 'Other', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Science', 'Other', 'Machine Learning', 'Data Analytics', 'Machine Learning', 'Managerial', 'Other', 'Managerial', 'Data Engineering', 'Managerial', 'Data Engineering', 'Data Analytics', 'Data Science', 'Other', 'Data Science', 'Machine Learning', 'Data Science', 'Data Science', 'Data Analytics', 'Machine Learning', 'Data Engineering', 'Data Analytics', 'Other', 'Machine Learning', 'Data Engineering', 'Managerial', 'Other', 'Data Analytics', 'Machine Learning', 'Other', 'Data Engineering', 'Data Science', 'Other', 'Data Science', 'Data Science', 'Machine Learning', 'Data Engineering', 'Other', 'Data Engineering', 'Data Engineering', 'Machine Learning', 'Data Engineering', 'Data Science', 'Machine Learning', 'Data Analytics', 'Data Science', 'Data Science', 'Data Science', 'Machine Learning', 'Data Science', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Analytics', 'Other', 'Data Science', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Science', 'Machine Learning', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Science', 'Machine Learning', 'Managerial', 'Data Analytics', 'Data Science', 'Machine Learning', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Other', 'Other', 'Data Science', 'Data Science', 'Machine Learning', 'Data Science', 'Data Analytics', 'Other', 'Data Science', 'Other', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Managerial', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Analytics', 'Managerial', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Science', 'Machine Learning', 'Machine Learning', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Machine Learning', 'Data Engineering', 'Machine Learning', 'Data Analytics', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Other', 'Machine Learning', 'Managerial', 'Managerial', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Managerial', 'Machine Learning', 'Other', 'Data Science', 'Machine Learning', 'Data Analytics', 'Data Science', 'Data Analytics', 'Data Science', 'Data Science', 'Other', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Machine Learning', 'Data Science', 'Data Science', 'Machine Learning', 'Data Engineering', 'Machine Learning', 'Data Science', 'Data Science', 'Machine Learning', 'Data Analytics', 'Data Science', 'Machine Learning', 'Data Engineering', 'Data Science', 'Other', 'Data Science', 'Managerial', 'Data Science', 'Machine Learning', 'Data Science', 'Other', 'Other', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Analytics', 'Data Science', 'Managerial', 'Data Science', 'Data Science', 'Other', 'Data Analytics', 'Machine Learning', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Science', 'Data Engineering', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science', 'Data Analytics', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Machine Learning', 'Data Analytics', 'Managerial', 'Other', 'Data Analytics', 'Data Engineering', 'Data Science', 'Machine Learning', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Other', 'Data Analytics', 'Data Engineering', 'Machine Learning', 'Data Analytics', 'Other', 'Other', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Other', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Data Science', 'Other', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Analytics', 'Data Science', 'Machine Learning', 'Data Science', 'Data Science', 'Data Science', 'Machine Learning', 'Machine Learning', 'Data Science', 'Data Science', 'Data Engineering', 'Data Science', 'Machine Learning', 'Other', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Science', 'Other', 'Machine Learning', 'Data Analytics', 'Machine Learning', 'Managerial', 'Other', 'Managerial', 'Data Engineering', 'Managerial', 'Data Engineering', 'Data Analytics', 'Data Science', 'Other', 'Data Science', 'Machine Learning', 'Data Science', 'Data Science',  'Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Science', 'Machine Learning', 'Managerial', 'Data Analytics', 'Data Science', 'Machine Learning', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Other', 'Other', 'Data Science', 'Data Science', 'Machine Learning', 'Data Science', 'Data Analytics', 'Other', 'Data Science', 'Other', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Managerial', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Machine Learning', 'Data Engineering', 'Machine Learning', 'Data Analytics', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Analytics', 'Data Engineering', 'Data Analytics', 'Data Science', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Other', 'Machine Learning', 'Managerial', 'Managerial', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Science', 'Data Analytics', 'Data Analytics', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Data Engineering', 'Data Science', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Data Engineering', 'Machine Learning', 'Machine Learning', 'Managerial', 'Machine Learning', 'Other', 'Data Science', 'Machine Learning', 'Data Analytics', 'Data Science', 'Data Analytics', 'Data Science', 'Data Science', 'Other', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Machine Learning']

#len(Job_Category)

salaries['Job_Category'] = Job_Category
salaries

,Working_Year,Designation,Experience,Employment_Status,Employee_Location,Company_Size,Remote_Working_Ratio,Salary_USD,Job_Category
0,2020,Data Scientist,Mid,FT,DE,L,0,76227.0,Machine Learning
1,2020,Machine Learning Scientist,Senior,FT,JP,S,0,248257.0,Data Engineering
2,2020,Big Data Engineer,Senior,FT,GB,M,50,104100.0,Data Analytics
3,2020,Product Data Analyst,Mid,FT,HN,S,0,19097.0,Machine Learning
4,2020,Machine Learning Engineer,Senior,FT,US,L,50,143225.0,Data Analytics
...,...,...,...,...,...,...,...,...,...
602,2022,Data Engineer,Senior,FT,US,M,100,147044.0,Data Science
603,2022,Data Engineer,Senior,FT,US,M,100,120309.0,Data Science
604,2022,Data Analyst,Senior,FT,US,M,0,123174.0,Data Science
605,2022,Data Analyst,Senior,FT,US,M,100,143225.0,Data Science
606,2022,AI Scientist,Mid,FT,IN,L,100,190967.0,Machine Learning

## Consideration for Categorical Data

### Checking for class imbalance

In [16]:
# Print the relative frequency of the "Job_Category" column from salaries DataFrame.
print(salaries['Job_Category'].value_counts(normalize=True))

Job_Category
Data Engineering    0.273476
Data Science        0.265239
Data Analytics      0.225700
Machine Learning    0.123558
Other               0.074135
Managerial          0.037891
Name: proportion, dtype: float64

### Cross-tabulation

Cross-tabulation can help identify how observations occur in combination.
Using the salaries dataset, which has been imported as a pandas DataFrame, you'll perform cross-tabulation on multiple variables, including the use of aggregation, to see the relationship between "Company_Size" and other variables.

In [17]:
# Cross-tabulate Company_Size and Experience
pd.crosstab(salaries['Company_Size'], salaries['Experience'])

Experience    Entry  Executive  Mid  Senior
Company_Size
L                29         11   86      72
M                30         12   98     186
S                29          3   29      22

In [18]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"]))

Company_Size       L   M   S
Job_Category
Data Analytics    51  73  13
Data Engineering  45  87  34
Data Science      58  83  20
Machine Learning  22  43  10
Managerial        10  12   1
Other             12  28   5

In [19]:
# Update pd.crosstab() to return the mean "Salary_USD" values.
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"], values=salaries["Salary_USD"], aggfunc='mean'))

Company_Size                  L              M              S
Job_Category
Data Analytics    108975.196078  108194.027397   84155.384615
Data Engineering  124636.333333  119589.586207   78888.470588
Data Science      111568.482759  110971.963855   71077.200000
Machine Learning  137133.181818  114244.767442   55093.100000
Managerial         79127.100000   91011.000000  109806.000000
Other              91516.583333  102573.892857   58795.000000

## Generating New Features

### Extracting features for correlation

## Generating Hypothesis